local
local/localrc.symlink

drupal/drush.symlink/*
!drupal/drush.symlink/drushrc.php

chef/chef.symlink/cache
chef/chef.symlink/syntaxcache
chef/chef.symlink/*.pem
chef/chef.symlink/knife.rb
chef/chef.symlink/data
